on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

name: Build

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: '16.13'
    - run: npm ci
    - run: npm run build
    - run: npm run lint
